.carousel{
    max-width: 600px;
    position: relative;
    margin: auto;
    margin-top:100px;
}

.carousel-item, .carousel .carousel-item-hidden{
    max-width: 600px;
    display: none;
}


.carousel-item-visible{
animation: smoothness .5s;
display: block;

}


.carousel-item img{
    width: 100%;
    max-width: 600px;
    height: auto;
}



.carousel-actions{
   display: flex;
   width: 100%;
   justify-content: space-between;
   position: absolute;
top: 50%;
}




button {
    color: #000000;
  border: 2px solid ;
  border-radius: 30px;
  padding: 12px 16px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 black;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #D80286;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #D80286;
}

.slide_left:hover {
  box-shadow: inset 0 0 0 50px #D80286;
}

.slide_diagonal:hover {
  box-shadow: inset 400px 50px 0 0 black;
  color: whitesmoke;
}





@keyframes smoothness {
   0%{
opacity: 0;
   } 

   100%{
opacity: 1;
   }
}